@use "../../styles//devices";

.sectionContact{
  background-color: var(--cyan-500);
}

.contactContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;

  h2{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }

  p{
    font-weight: 500;
  }

  a{
    font-weight: 700;
    text-decoration: underline;
  }

  @media screen and (max-width: devices.$tablet) {
    margin: 0 2rem;

    p{
      margin-top: 0.5rem;
    }
  }
}

.contactActions{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  a{
    svg{
      width: 40px;
      height: 40px;

      &:hover{
        transform: scale(1.1);
      }
    }

    + a {
      margin-left: 1.5rem;
    }
  }
}